/* UNIVERSALES */
* { box-sizing: border-box; }
ul { padding: 0; }
li { list-style-type: none; }
body { font-family: 'Muli', sans-serif; }

.container {
  max-width: 100%;
  font-family: 'Muli', sans-serif;
  padding: 0;
}

hr {
  max-width: 58%;
  border: solid 0.5px;
}

h1 {
  font-weight: bolder;
  text-align:  center;
  margin: 80px 40px 20px 40px;
  font-size: 50px;
  line-height: 62px;
}

h3 {
  background-color: orange;
  display: inline-block;
}

h5 {
  border-top: 1px solid #ddd;
  padding: 20px 20px 20px 0;
}

button{
  border: 1px solid black;
  background-color: #fff;
  padding: 10px 15px;
}


.btn-default-2 {
  color: #fff;
  background-color: #333;
  border-color: #ccc;
}

/* Nav Bar */
.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
/* Carousel */
#myCarousel {
  display: none;
}
/* Main Body */
.col-md-4 {
  padding-left: 0;
  margin: 0 auto;
}


.box-producto {
  text-align: center;
  margin: 100px 0 80px 0;
  padding-right:0;
}

.box-producto img{
  margin: 0 auto;
}

.box-producto p, h2 {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.box-producto h2 {
  margin-top: 40px;
}


/* CONTENIDO FAQs */

/* Preguntas */
#accordion {
  margin-top: 30px;
}

#accordion h1{
    padding-top: 20px;
    padding-bottom: 30px;
}

.banner-foto{
  display: none;
}


/* CONTENIDO LOGIN */


/* Contenido Formulario Sing in */
/* EL JUANITO YA QUE ESTA DE HEADER EN EL FORMULARIO SIGN IN */
.main-header1{
  position: absolute;
}

.logo-formulario {
  position: relative;
  left: 5px;
  bottom: 10px;
  width: 5px;
  height: 10px;
}

/* TITULO DEL FORMULARIO */
.titulo-sign {
  position: relative;
  left: 5px;
  top: 150px;
}

/*EL FORMULARIO */
/*.form-group {
  position: relative;
  top: 80px;
}*/

/*LOS INPUTS DEL FORMULARIO */
/*.form-group input {
  width: 90%;
  height: 30px;
  position: relative;
  top: 100px;
  margin-bottom: 20px;
}

.form-group label {
  position: relative;
  top: 100px;
}*/

/*BOTON DE SIGN IN */
.sign-in {
  position: relative;
  left: 105px;
  top: 150px;
  width: 200px;
  height: 30px;
  margin-bottom: 20px;
  border-color: black;
  background-color: white;
  cursor: pointer;
}

.remember-me{
  position: relative;
  top: 150px;
}

.forgot{
  position: relative;
  top: 500px;
}

/* BOTON DE CREATE ACCOUNT */
.create-account {
  position: relative;
  left: 80px;
  top: 150px;
  width: 200px;
  height: 30px;
  background-color:#2E2E2E;
  border-color: black;
  color: white;
  cursor: pointer;
}

/* EL FORGOT YOUR PASSWORD Y EL REMEMBER ME (CHECKBOX) */
.forgot {
  position: relative;
  top: 120px;
}

.checkbox {
  position: relative;
  top: 110px;
}

/* Footer */
.main-footer{
  padding-right: 0;
  padding-left: 0;
  margin-top: 80px;
}

.felicitaciones {
  position: relative;
  overflow: hidden;
  top: 30px;
  height: 60px;
  width: 414px;
  text-align: center;
  }

/*BOTON LOGOUT*/
#btn-logout a{
  color: #fff;
  text-decoration: none;
  float: right;
  margin-top: 15px;
}


/* MEDIA QUERY PARA DESKTOP*/
@media only screen and (min-width : 768px) {

  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  /* NAV BAR */
  .navbar{
    margin-bottom: 0;
    border-radius: 0;
  }
  /* Carousel*/
  #myCarousel {
    display: block;
  }
  /* MAIN PART*/
  .row{
    margin-top: 20px;
  }

  .titulo{
    font-weight: bold;
    text-align: center;
    display: inline-block;
    }

  .texto {
    display: inline-block;
    max-width: 400px;
    font-size: 14px;
  }

  .ver-mas{
    padding: 10px 20px;
    border: solid #000000;
    display: inline-block;
    text-align: center;
    color: #000000;
    margin-top: 30px;
  }

  .ver-mas a{
    text-decoration: none;
    font-size: 20px;
  }


.felicitaciones {
  position: relative;
  top: 50px;
  left: 110px;
  width: 800px;
}

.btn-default {
  top: 80px;
  left: 410px;
}

} /* Cierre de media Query */
