/* UNIVERSALES */
* { box-sizing: border-box; }
ul { padding: 0; }
li { list-style-type: none; }

.container {
  max-width: 768px;
  padding-top: 20px;
  font-family: Muli;
}

h1 {
  font-weight: bold;
}

h3 {
  background-color: orange;
  display: inline-block;
}

h5 {
  border-top: 1px solid #ddd;
  padding: 20px 20px 20px 0;

}

button{
  margin: 25px 0;
  border: 1px solid black;
  background-color: #fff;
  padding: 10px 15px;
}


/* HEADER */
header {
  position: relative;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

header img {
  max-width: 50px;
  float: left;
  margin-top: -5px;
}

.main-nav a {
  float: right;
  padding-left: 10px;
  padding-right: 20px;
  text-decoration: none;
}

.toggle-nav {
	margin: 20px 0 10px;
	font-size: 25px;
	color: #444;
}

.toggle-nav span {
	float: right;
	padding-right: 10px;
}



/* CONTENIDO HOME */

/* Banner */
.banner {
  position: relative;
}

.banner img {
  width: 100%;
  float: left;
}

.banner-titulo {
  position: absolute;
  margin-left: 8px;
  float: left;
  color: white;
  font-size: 52px;
  text-decoration: underline;
}

/* Productos en Home*/
.productos-home {
  display: inline-block;
  text-align: center;
  margin-top: 40px;
}

.banner-foto{
  width: 50%;
}

.productos-home button{
    margin: 25px 0;
    border: 1px solid black;
    background-color: #fff;
    padding: 10px 15px;
}

.banner-descripcion-foto {
  text-align: center;
  padding: 10%;
}




/* CONTENIDO FAQs */

/* Preguntas */
#accordion {
  margin-top: 30px;
}

#accordion h1{
    padding-top: 20px;
    padding-bottom: 30px;
}




/* CONTENIDO LOGIN */

/* Separación entre formularios */
#usuariosRegistrados {
  margin-bottom: 40px;
}

#nuevosUsuarios {
  border-top: 1px solid #f1f1f1;
  margin-bottom: 80px;
}




/* FOOTER */
footer {
  background-color: #f1f1f1;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 40px 40px 0px 40px;
  margin-top: 80px;
}

#logoFooter {
  display: none;
}

.main-footer li{
  text-align: left;
  padding-bottom: 5px;
  color: #555;
}

.rowFooter {
  margin-left: 5%;
  width: 44.333333%;
}

.redesSociales {
  margin: 30px 0;
}
.redesSociales a {
  padding: 0px 10px;
}

.legales {
  font-size: 10px;
  background-color: #555;
  color: white;
  padding: 7px;
  text-align: center;
}





/* MEDIA QUERY PARA DESKTOP*/

@media only screen and (min-width : 768px) {

/* CONTENIDO HOME */
  .banner-titulo {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 22%;
    float: left;
    color: white;
    font-size: 52px;
    text-decoration: underline;
  }

  .banner-foto{
    width: 50%;
    float: left;
    margin-right: 45px;
  }

  .banner-descripcion-foto {
    text-align: left;
    padding: 15% 3%;
  }


/* FOOTER */
  .rowFooter {
    margin-left: 7%;
    width: 25.33%;;
  }

  #logoFooter {
    display: block;
  }

  .main-footer img {
    max-width: 120px;
  }
  .main-footer li{
    text-align: left;
    padding-bottom: 5px;
    color: #555;
  }
}
